streamlit
altair
pandas
reportlab
requests
urllib3
tabulate
pyinstaller
pyautogui
pynput
pyperclip
pillow
mss
pdfminer.six
cryptography
streamlit-desktop-app
pytesseract
moviepy>=1.0.3
imageio-ffmpeg>=0.4.9
pytest
